.idea/*
calog
algolib.db
log/*.log
go.mod
go.sum
proxy/
/lib/*
!/lib/libca.dll
!/lib/config.json
/handle/bus.go
/algo/libalgo.db
/public.pub
/product_info.db
/private.key
/product_log.db
/cert.db
/server.exe